.Card{
    display: block;
    box-sizing: border-box;
    width: 44vw;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    font-size: 1.2rem;
    box-shadow: 0px 0px 10px 5px rgba(158,219,251,.2);
    padding:24px;
    margin-bottom: 32px;
    border-radius: 8px;
}

.title{
    margin: unset;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    margin: unset;
}

.name{
    margin: unset;
    color: grey;
    align-self: flex-end;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top button{
    background-color: transparent;
    padding: unset;
}

.post{
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    margin: 8px 0;
}

.blogClick{
    background-color: transparent;
    color:#9edbfb;
    padding: unset;
    border: none;
    margin: unset;
}

